<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleExecutable</key>
    <string>Renotch</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.vincentyosi.renotch</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Re:notch</string>
    <key>CFBundleDisplayName</key>
    <string>Re:notch</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.7.0</string>
    <key>CFBundleVersion</key>
    <string>7</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Re:notch 使用 Apple Music 和 Spotify 的访问权限显示歌曲信息并控制播放。</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Re:notch 在刘海区域显示你即将开始的苹果日历日程。</string>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>Re:notch 在刘海区域显示你即将开始的苹果日历日程。</string>
    <key>NSUserNotificationAlertStyle</key>
    <string>alert</string>
    <key>NSHumanReadableCopyright</key>
    <string>版权所有 © 2026。保留所有权利。</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>zh-Hans</string>
    </array>
</dict>
</plist>
